@page "/users/login"
@inject IAuthenticationService authService
@inject NavigationManager navManager

<h3>Login</h3>

<div>
    <EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="Email">Email Address</label>
            <InputText class="form-control" @bind-Value="LoginModel.Email" />
            <ValidationMessage For="@(() => LoginModel.Email)" />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <InputText class="form-control" type="password" @bind-Value="LoginModel.Password" />
            <ValidationMessage For="@(() => LoginModel.Password)" />
        </div>

        <button class="btn btn-primary btn-block mt-2">Login</button>
    </EditForm>
</div>

@code {
    string message = string.Empty;
    LoginUserDto LoginModel = new LoginUserDto();

    public async Task HandleLogin()
    {
        try
        {
            var response = await authService.AuthenticateAsync(LoginModel);

            if (response)
            {
                navManager.NavigateTo("/");
            }

            message = "Invalid Credentials, please try again";
        }
        catch (ApiException ex)
        {
            if (ex.StatusCode >= 200 && ex.StatusCode <= 299)
            {
            }

            message = ex.Response;
        }
    }
}
